<?xml version="1.0" ?>

<robot name="RX20_16" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="camera" params="name x y z roll pitch yaw ">
  <link name="${name}_camera_frame">
      <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0.000" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
      <mass value= "0.01"/>
      </inertial>

      <visual name="${name}_camera_frame">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
       <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="red"> 
        <color rgba="1 0 0 1.0"/> 
      </material> 
      </visual>
  </link>

  <joint name="${name}_camera_joint" type="fixed">
    <parent link="base_link" />
    <child link="${name}_camera_frame" />
    <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}" />
    <axis xyz="0 0 1" />
  </joint>

    <!-- Gazebo links and joints -->
  <gazebo reference="${name}_camera_frame">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>1</always_on>
      <camera>
        <horizontal_fov>1.25</horizontal_fov>
        <image>
          <width>320</width>
          <height>240</height>
        </image>
        <clip>
          <near>0.3</near>
          <far>100</far>
        </clip>
        <optical_frame_id>${name}_camera_frame</optical_frame_id>
      </camera>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
      <topic>depth_camera</topic>
      <baseline>0.2</baseline>
      <pointCloudCutoff>0.5</pointCloudCutoff>
      <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
      <distortionK1>0</distortionK1>
      <distortionK2>0</distortionK2>
      <distortionK3>0</distortionK3>
      <distortionT1>0</distortionT1>
      <distortionT2>0</distortionT2>
      <CxPrime>0</CxPrime>
      <Cx>0</Cx>
      <Cy>0</Cy>
      <focalLength>0</focalLength>
      <hackBaseline>0</hackBaseline>
    </sensor>

  </gazebo>

</xacro:macro>


  </robot>